<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= title%> | Krvftaly</title>
        <meta name="description" content="Premium eCommerce Template">

        <!--[if IE]> <meta http-equiv="X-UA-Compatible" content="IE=edge"> <![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Google Fonts -->
        <link href="http://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7COswald:300,400,500,600,700" rel="stylesheet">
        
        <link rel="stylesheet" href="/assets/css/plugins.min.css">
        <link rel="stylesheet" href="/assets/css/style.css">
        
        <!-- Favicon -->
        <link rel="icon" type="image/png" href="/assets/images/icons/favicon.png">

        <!-- Modernizr -->
        <script src="/assets/js/modernizr.js"></script>
    </head>
    <body>
        <div id="wrapper">
            <header class="header sticky-header">
                <div class="container">
                    <a href="/" class="site-logo" title="Krvftaly">
                        <img src="/assets/images/logo.png" alt="Logo">
                        <span class="sr-only">Krvftaly</span>
                    </a>

                    <div class="search-form-container">
                        <a href="#" class="search-form-toggle" title="Toggle Search"><i class="fa fa-search"></i></a>
                        <form action="#">
                            <div class="dropdown search-dropdown">
                                <a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false">
                                   All Category
                                    <i class="fa fa-caret-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="category.html">Interior</a></li>
                                    <li><a href="category.html">Home & Decore</a></li>
                                    <li><a href="category.html">Furniture</a></li>
                                    <li><a href="category.html">Lights</a></li>
                                </ul>
                            </div><!-- End .dropddown -->
                            <input type="search" class="form-control" placeholder="Search" required>
                            <button type="submit" title="Search" class="btn"><i class="fa fa-search"></i></button>
                        </form>
                    </div><!-- End .search-form-container -->

                    <ul class="top-links">
                        <li><a href="/users/login">Sign In</a></li>
                        <li><a href="/cart">Cart</a></li>
                    </ul>

                    <div class="dropdown cart-dropdown">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false">
                            <span class="cart-icon">
                                <img src="/assets/images/bag.png" alt="Cart">
                                <span class="cart-count">2</span>
                            </span>
                            <!-- <i class="fa fa-caret-down"></i> -->
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <p class="dropdown-cart-info">You have 2 products in your cart.</p>
                            <div class="dropdown-menu-wrapper">
                                <div class="product">
                                    <figure class="product-image-container">
                                        <a href="product.html" title="Product Name">
                                            <img src="/assets/images/products/small/product2.jpg" alt="Product Image">
                                        </a>
                                    </figure>

                                    <div>
                                        <a href="#" class="btn-delete" title="Delete product" role="button"></a>
                                        <h4 class="product-title"><a href="product.html">Ceiling Light</a></h4>
                                        <div class="product-price-container">
                                            <span class="product-price">$110.00</span>
                                        </div><!-- End .product-price-container -->
                                        <div class="product-qty">Qty : 1</div><!-- End .product-qty -->
                                    </div><!-- End .product-image-container -->
                                </div><!-- End .product- -->

                                <div class="product">
                                    <figure class="product-image-container">
                                        <a href="product.html" title="Product Name">
                                            <img src="/assets/images/products/small/product1.jpg" alt="Product Image">
                                        </a>
                                    </figure>

                                    <div>
                                        <a href="#" class="btn-delete" title="Delete product" role="button"></a>
                                        <h4 class="product-title"><a href="product.html">Chandelier Bulb</a></h4>
                                        <div class="product-price-container">
                                            <span class="product-price">$99.00</span>
                                        </div><!-- End .product-price-container -->
                                        <div class="product-qty">Qty : 1</div><!-- End .product-qty -->
                                    </div><!-- End .product-image-container -->
                                </div><!-- End .product- -->
                            </div><!-- End .droopdowm-menu-wrapper -->

                            <div class="cart-dropdowm-action">
                                <div class="dropdowm-cart-total"><span>TOTAL:</span> $209.00</div>
                                <a href="checkout.html" class="btn btn-primary">Checkout</a>
                            </div><!-- End .cart-dropdown-action -->
                        </div><!-- End .dropdown-menu -->
                    </div><!-- End .cart-dropddown -->

                    <a href="#" class="sidemenu-btn" title="Menu Toggle">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                </div><!-- End .container-fluid -->
            </header><!-- End .header -->

            <aside class="sidemenu">
                <div class="sidemenu-wrapper">
                    <div class="sidemenu-header">
                        <a href="index.html" class="sidemenu-logo">
                            <img src="assets/images/logo.png" alt="logo">
                        </a>
                    </div><!-- End .sidemenu-header -->

                    <ul class="metismenu">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/blog">Blog</a>
                        </li>
                        <li>
                            <a href="#" aria-expanded="false">Shop <span class="sidemenu-icon"></span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="category.html">Category</a></li>
                                <li><a href="product.html">Product</a></li>
                                <li><a href="cart.html">Shopping Cart</a></li>
                                <li><a href="checkout.html">Checkout</a></li>
                                <li><a href="signin.html">Sign In</a></li>
                                <li><a href="signup.html">Sign Up</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/about">About Us</a>
                        </li>
                        <li>
                            <a href="/contact">Contact Us</a>
                        </li>
                    </ul>
                </div><!-- End .sidemenu-wrapper -->
            </aside><!-- End .sidemenu -->

            <div class="sidemenu-overlay"></div><!-- End .sidemenu-overlay -->
            
            <div class="main">
        <%- content%>
        <footer class="footer">
            <div class="container">
                <div class="info-bar">
                    <div class="info-bar-col">
                        <h5 class="info-bar-title">FREE SHIPPING &amp; RETURN</h5>
                        <p>Free shipping on all orders over $99</p>
                    </div><!-- End .info-bar-col -->
                    <div class="info-bar-col">
                        <h5 class="info-bar-title">MONEY BACK GUARANTEE</h5>
                        <p>100% money back guarantee</p>
                    </div><!-- End .info-bar-col -->
                    <div class="info-bar-col">
                        <h5 class="info-bar-title">ONLINE SUPPORT 24/7</h5>
                        <p>Highly customer satisfaction</p>
                    </div><!-- End .info-bar-col -->
                </div><!-- End .info-bar -->
            </div><!-- End .container -->
            <div class="footer-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                            <div class="widget widget-about">
                                <h4 class="widget-title">Contact Information</h4>

                                <address>
                                    <span>1080 Left Drive</span>
                                    <span>Madina, Accra Ghana</span>
                                    <span>+233 56-552-6664</span>
                                    <a href="mailto:hello@Hustle.co">hello@Hustle.co</a>
                                </address>
                            </div><!-- End .widget -->
                        </div><!-- End .col-md-3 -->

                        <div class="col-sm-6 col-md-3">
                            <div class="widget">
                                <h4 class="widget-title">Categories</h4>

                                <ul class="links">
                                    <li><a href="#">Crafts</a></li>
                                    <li><a href="#">Arts</a></li>
                                </ul>
                            </div><!-- End .widget -->
                        </div><!-- End .col-md-3 -->

                        <div class="clearfix visible-sm"></div><!-- clearfix -->

                        <div class="col-sm-6 col-md-3">
                            <div class="widget">
                                <h4 class="widget-title">My Account</h4>

                                <ul class="links">
                                    <li><a href="#">Login</a></li>
                                    <li><a href="#">My cart</a></li>
                                    <li><a href="#">Wishlist</a></li>
                                    <li><a href="#">Checkout</a></li>
                                </ul>
                            </div><!-- End .widget -->
                        </div><!-- End .col-md-3 -->

                        <div class="col-sm-6 col-md-3">
                            <div class="widget widget-newsletter">
                                <h4 class="widget-title">Newsletter</h4>
                                <p>Signup for our newsletter</p>

                                <div class="form-group">
                                    <input type="email" name="email" class="form-control newsletterInput" placeholder="Your Email" required>
                                    <a class="btn newsletterBtn">GO</a>
                                </div><!-- End .form-group -->

                                <div class="social-icons">
                                    <a href="#" class="social-icon" title="Facebook"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="social-icon" title="Twitter"><i class="fa fa-twitter"></i></a>
                                    <a href="#" class="social-icon" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                                    <a href="#" class="social-icon" title="Instagram"><i class="fa fa-instagram"></i></a>
                                    <a href="#" class="social-icon" title="Pinterest"><i class="fa fa-pinterest"></i></a>
                                </div>
                            </div><!-- End .widget -->
                        </div><!-- End .col-md-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .footer-inner -->

            <div class="footer-bottom">
                <div class="container">
                    <p class="copyright">&copy; <span class="year"></span> Krvftaly. All Rights Reserved</p>
                <img src="/assets/images/cards.png" alt="Payment Methods" class="img-cards">
                </div><!-- End .container -->
            </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div>


    <a id="scroll-top" href="#top" title="Scroll top"><i class="fa fa-angle-up"></i></a>

    <!-- End -->
    <script src="/assets/js/plugins.js"></script>
    <script src="/assets/js/main.js"></script>

    <!-- REVOLUTION JS FILES -->
    <script type="text/javascript" src="/assets/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.themepunch.revolution.min.js"></script>

    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  
    (Load Extensions only on Local File Systems !  
    The following part can be removed on Server for On Demand Loading) -->  
    <script type="text/javascript" src="/assets/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="/assets/js/extensions/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript" src="/assets/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="/assets/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="/assets/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="/assets/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="/assets/js/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="/assets/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="/assets/js/extensions/revolution.extension.video.min.js"></script>
    <script src="/js/bootstrap-notify.js"></script>
    <script src="/js/client.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.year').append(new Date().getFullYear())
        });
    </script>
</body>
</html>