<% extend('../layout/app') %>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="page-header text-center">
                <h1>Sign Up</h1>
                <p>Create a New Account</p>
            </div><!-- End .page-header -->

            <form action="#" class="signup-form">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>First Name*</label>
                            <input type="text" class="form-control" required>
                        </div><!-- End .form-group -->
                    </div><!-- End .col-sm-4 -->

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Last Name*</label>
                            <input type="text" class="form-control" required>
                        </div><!-- End .form-group -->
                    </div><!-- End .col-sm-4 -->

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Email*</label>
                            <input type="email" class="form-control" required>
                        </div><!-- End .form-group -->
                    </div><!-- End .col-sm-4 -->
                </div><!-- End .row -->

                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Phone*</label>
                            <input type="text" class="form-control" required>
                        </div><!-- End .form-group -->
                    </div><!-- End .col-sm-4 -->

                    <div class="col-sm-4">
                            <div class="form-group">
                                <label>Password*</label>
                                <input type="password" class="form-control" required>
                            </div><!-- End .form-group -->
                        </div><!-- End .col-sm-4 -->

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Password*</label>
                            <input type="password" class="form-control" required>
                        </div><!-- End .form-group -->
                    </div><!-- End .col-sm-4 -->

                    

                    
                </div><!-- End .row -->

                <div class="clearfix form-action">
                    <input type="submit" class="btn btn-primary min-width" value="SIGN Up">
                </div><!-- End .form-action -->
            </form>
        </div><!-- End .col-md-9 -->

        <div class="col-md-3 sidebar sidebar-shop">
            <div class="widget widget-banner">
                <div class="banner banner-image">
                    <a href="#" title="Brown Woman Shoes">
                        <img src="/assets/images/banners/widget-banner.png" alt="Banner name">
                    </a>
                </div>
            </div><!-- End .widget -->

            <div class="widget widget-testimonial">
                <div class="owl-data-carousel owl-carousel"
                data-owl-settings='{ "items":1, "margin": 5, "loop": false, "nav": false, "dots":true }'>
                    <div class="testimonial">
                        <img src="/assets/images/testimonials/user1.png" alt="User image">
                        <h5 class="testimonial-owner">John Smith</h5>
                        <div class="testimonial-owner-position">Ceo &amp; Founder Okler</div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div><!-- End .testimonial -->

                    <div class="testimonial">
                        <img src="/assets/images/testimonials/user2.png" alt="User image">
                        <h5 class="testimonial-owner">Susan Smith</h5>
                        <div class="testimonial-owner-position">CPO &amp; Co-Founder</div>
                        <p>Distinctio, corrupti nesciunt aperiam, eaque, reiciendis dummy consequunt.</p>
                    </div><!-- End .testimonial -->

                    <div class="testimonial">
                        <img src="/assets/images/testimonials/user3.png" alt="User image">
                        <h5 class="testimonial-owner">David Lee</h5>
                        <div class="testimonial-owner-position">Senior Developer</div>
                        <p>Adipisci esse nobis alias magnam dolores debitis non odit porro nost.</p>
                    </div><!-- End .testimonial -->
                </div><!-- End .owl-data-carousel -->
            </div><!-- End .widget -->
        </div><!-- End .col-md-3 -->
    </div><!-- End .row -->
</div><!-- End .container -->