<% extend('./layout/app') %>
<div class="container">
        <div class="row">
            <div class="col-md-9">
                <article class="entry">
                    <figure class="entry-media">
                        <a href="single.html">
                            <img src="assets/images/blog/post1.jpg" alt="Post">
                        </a>
                    </figure>
                    <h2 class="entry-title">
                        <a href="single.html">starting the bed room revolution</a>
                    </h2>

                    <div class="entry-meta">
                        By: <a href="#">Admin</a>
                        <span class="separator">-</span>
                        FEb 16
                        <span class="separator">-</span>
                        16 comments
                    </div><!-- End .entry-meta -->

                    <div class="entry-content">
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters...</p>
                    </div><!-- End .entry-content -->
                    <div class="text-right">
                        <a href="single.html" class="entry-readmore">Read More</a>
                    </div>
                </article>

                <article class="entry">
                    <figure class="entry-media">
                        <a href="single.html">
                            <img src="assets/images/blog/post2.jpg" alt="Post">
                        </a>
                    </figure>
                    <h2 class="entry-title">
                        <a href="single.html">starting the hall revolution</a>
                    </h2>

                    <div class="entry-meta">
                        By: <a href="#">Admin</a>
                        <span class="separator">-</span>
                        FEb 16
                        <span class="separator">-</span>
                        16 comments
                    </div><!-- End .entry-meta -->

                    <div class="entry-content">
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters...</p>
                    </div><!-- End .entry-content -->
                    <div class="text-right">
                        <a href="single.html" class="entry-readmore">Read More</a>
                    </div>
                </article>
            </div><!-- End .col-md-9 -->

            <div class="col-md-3 sidebar sidebar-shop">
                <div class="widget">
                    <form action="#" class="search-form">
                        <input type="search" class="form-control" placeholder="SEARCH OUR BLOG">
                        <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                    </form>
                </div><!-- End .widget-->

                <div class="widget widget-posts">
                    <h3 class="widget-title">Featured Posts</h3>
                    <ul class="posts-list">
                        <li>
                            <figure>
                                <a href="single.html">
                                    <img src="assets/images/blog/post-small-1.jpg" alt="Post">
                                </a>
                            </figure>
                            <h4><a href="single.html">How to make the word a better place.</a></h4>
                        </li>
                        <li>
                            <figure>
                                <a href="single.html">
                                    <img src="assets/images/blog/post-small-2.jpg" alt="Post">
                                </a>
                            </figure>
                            <h4><a href="single.html">Which Responsive Design Is Best?</a></h4>
                        </li>
                        <li>
                            <figure>
                                <a href="single.html">
                                    <img src="assets/images/blog/post-small-3.jpg" alt="Post">
                                </a>
                            </figure>
                            <h4><a href="single.html">A Little Surprise Is Waiting For You Here.</a></h4>
                        </li>
                    </ul>
                </div><!-- End .widget-->

                <div class="widget">
                    <h3 class="widget-title">Categories</h3>

                    <ul class="category-list">
                        <li><a href="#">News</a></li>
                        <li><a href="#">Announcements</a></li>
                        <li><a href="#">Trends</a></li>
                        <li><a href="#">Design</a></li>
                        <li><a href="#">Fashion</a></li>
                    </ul>
                </div><!-- End .widget-->

                <div class="widget">
                    <h3 class="widget-title">Tags</h3>

                    <div class="tagcloud">
                        <a href="#">Business</a>
                        <a href="#">Meeting</a>
                        <a href="#">Success</a>
                        <a href="#">Happy Clients</a>
                        <a href="#">Top Stories</a>
                    </div><!-- End .tagcloud -->
                </div><!-- End .widget-->
            </div><!-- End .col-md-3 -->
        </div><!-- End .row -->
    </div><!-- End .container -->