<% extend('./layout/app') %>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="page-header text-center">
                <h1>Contact Us</h1>
                <p>Check Out How to Contact Us</p>
            </div><!-- End .page-header -->

            <div class="mb20"></div><!-- margin -->

            <div class="row">
                <div class="col-sm-4">
                    <div class="contact-info-box">
                        <img src="assets/images/icon-pin.png" alt="Pin">
                        <h3>Address</h3>

                        <address>
                            <span>123 Hustle St</span>
                            <span>Commerce Land, EC 12345</span>
                            <span>Shoptown Second flor</span>
                        </address>
                    </div><!-- End .contact-info-box -->
                </div><!-- End .col-sm-4 -->
                <div class="col-sm-4">
                    <div class="contact-info-box">
                        <img src="assets/images/icon-mobile.png" alt="Pin">
                        <h3>Phone</h3>
                        <p><strong>Office :</strong> +1800-123-4567</p>
                        <p><strong>Sale :</strong> +558 6544 522</p>
                        <p><strong>Admin :</strong> 960 555 4281</p>
                    </div><!-- End .contact-info-box -->
                </div><!-- End .col-sm-4 -->
                <div class="col-sm-4">
                    <div class="contact-info-box">
                        <img src="assets/images/icon-email.png" alt="Pin">
                        <h3>Email</h3>
                        <p><a href="mailto:#">hello@finance.com</a></p>
                        <p><a href="mailto:#">sales@finace.com</a></p>
                        <p><a href="mailto:#">careers@finance.com</a></p>
                    </div><!-- End .contact-info-box -->
                </div><!-- End .col-sm-4 -->
            </div><!-- End .row -->

            <div class="mb35 mb20-sm mb10-xs"></div><!-- margin -->

            <div class="title-group text-center">
                <h2 class="title">Send a Message</h2>
                <p class="title-desc">Send Us a Message</p>
            </div><!-- End .title-group -->
            <%- include('../partials/messages')%>
            <form method="POST" action="/contacts" class="contact-form">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Full Name*</label>
                            <input name="name" type="text" class="form-control" required>
                        </div><!-- End .form-group -->

                        <div class="form-group">
                            <label>Contact*</label>
                            <input type="tel" name="contact" class="form-control" required>
                        </div><!-- End .form-group -->
                    </div><!-- End .col-sm-6 -->

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Message*</label>
                            <textarea cols="30" rows="6" name="message" class="form-control" required></textarea>
                        </div><!-- End .form-group -->
                    </div><!-- End .col-sm-6 -->
                </div><!-- End .row -->

                <div class="clearfix text-right">
                    <input type="submit" class="btn btn-accent min-width" value="Send Message">
                </div><!-- End .clearfix -->
            </form>

            <div class="title-group text-center">
                <h2 class="title">Our Location</h2>
                <p class="title-desc">Location on Map</p>
            </div><!-- End .title-group -->

            <div id="map"></div><!-- map -->
        </div><!-- End .col-md-9 -->

        <div class="col-md-3 sidebar sidebar-shop">
            <div class="widget widget-box widget-shop-category active">
                <h3 class="widget-title">Category</h3>

                <ul class="shop-category-list accordion">
                    <li>
                        <a href="category.html">Interior</a> 
                        <button class="accordion-btn collapsed" type="button" data-toggle="collapse" data-target="#accordion-ul-1" aria-expanded="false" aria-controls="accordion-ul-1"><span class="accordion-icon"></span></button>

                        <ul class="collapse" id="accordion-ul-1" aria-expanded="false">
                            <li><a href="category.html"><i class="fa fa-caret-right"></i>Living Room Interior</a></li>
                            <li><a href="category.html"><i class="fa fa-caret-right"></i>Bed Room Interior</a></li>
                            <li><a href="category.html"><i class="fa fa-caret-right"></i>Study Room Interior</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="category.html">Lights</a>
                        <button class="accordion-btn collapsed" type="button" data-toggle="collapse" data-target="#accordion-ul-2" aria-expanded="false" aria-controls="accordion-ul-2"><span class="accordion-icon"></span></button>

                        <ul class="collapse" id="accordion-ul-2" aria-expanded="false">
                            <li><a href="category.html"><i class="fa fa-caret-right"></i>Ceiling Lights</a></li>
                            <li><a href="category.html"><i class="fa fa-caret-right"></i>Tripod Lamps</a></li>
                            <li><a href="category.html"><i class="fa fa-caret-right"></i>Morden Bulbs</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="category.html">Home &amp; Garden</a>
                        <button class="accordion-btn collapsed" type="button" data-toggle="collapse" data-target="#accordion-ul-3" aria-expanded="false" aria-controls="accordion-ul-3"><span class="accordion-icon"></span></button>

                        <ul class="collapse" id="accordion-ul-3" aria-expanded="false">
                            <li><a href="category.html"><i class="fa fa-caret-right"></i>Bedding</a></li>
                            <li><a href="category.html"><i class="fa fa-caret-right"></i>Furniture</a></li>
                            <li><a href="category.html"><i class="fa fa-caret-right"></i>Home Decor</a></li>
                            <li><a href="category.html"><i class="fa fa-caret-right"></i>Kitchen, Dining &amp; Bar</a></li>
                            <li><a href="category.html"><i class="fa fa-caret-right"></i>Gardening Supplies</a></li>
                            <li><a href="category.html"><i class="fa fa-caret-right"></i>Outdoor Lightning</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="category.html">Furniture</a>
                        <button class="accordion-btn collapsed" type="button" data-toggle="collapse" data-target="#accordion-ul-4" aria-expanded="false" aria-controls="accordion-ul-4"><span class="accordion-icon"></span></button>

                        <ul class="collapse" id="accordion-ul-4" aria-expanded="false">
                            <li><a href="category.html"><i class="fa fa-caret-right"></i>Morden Style</a></li>
                            <li><a href="category.html"><i class="fa fa-caret-right"></i>Traditional Style</a></li>
                            <li><a href="category.html"><i class="fa fa-caret-right"></i>Creative Style</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- End .widget -->

            <div class="widget widget-box widget-shop-filter">
                <h3 class="widget-title">Filter <a href="#" class="btn-category" role="button">Categories<i class="fa fa-caret-down"></i></a></h3>
                    
                    <div class="filter-box">
                        <h5 class="filter-label">Sort By</h5>
                        <ul class="shop-filter-list">
                            <li><a href="#"><i class="fa fa-caret-right"></i>Default</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i>Popularity</a></li>
                            <li class="active"><a href="#"><i class="fa fa-caret-right"></i>Average Rating</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i>Newness</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i>Price: Low to high</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i>Price: high to Low</a></li>
                        </ul>
                    </div><!-- End .filter-box -->

                    <div class="filter-box">
                        <h5 class="filter-label">Price <span class="filter-price-text"><span class="filter-price-prefix">$</span><span id="filter-price-range"></span></span></h5>
                        <div class="price-slider-wrapper">
                            <div id="price-slider"></div><!-- End #price-slider -->
                        </div><!-- End .price-slider-wrapper -->
                    </div><!-- End .filter-box -->

                    <div class="filter-box">
                        <h5 class="filter-label">Color</h5>
                        <div class="row">
                            <div class="col-xs-6">
                                <ul class="filter-color-list">
                                    <li>
                                        <span class="filter-color" style="background-color: #1e73be;"></span>
                                        <span class="filter-color-text">Blue</span>
                                    </li>
                                    <li>
                                        <span class="filter-color" style="background-color: #c0c0c0;"></span>
                                        <span class="filter-color-text">Gray</span>
                                    </li>
                                    <li>
                                        <span class="filter-color" style="background-color: #dc9814;"></span>
                                        <span class="filter-color-text">Orange</span>
                                    </li>
                                </ul>
                            </div><!-- End col-xs-6 -->

                            <div class="col-xs-6">
                                <ul class="filter-color-list">
                                    <li>
                                        <span class="filter-color" style="background-color: #736751;"></span>
                                        <span class="filter-color-text">Brown</span>
                                    </li>
                                    <li>
                                        <span class="filter-color" style="background-color: #05ac92;"></span>
                                        <span class="filter-color-text">Green</span>
                                    </li>
                                    <li>
                                        <span class="filter-color" style="background-color: #fff;"></span>
                                        <span class="filter-color-text">White</span>
                                    </li>
                                </ul>
                            </div><!-- End col-xs-6 -->
                        </div><!-- End row -->
                    </div><!-- End .filter-box -->

                    <a href="#" class="btn btn-apply btn-block">Apply Filter</a>
            </div><!-- End .widget -->

            <div class="widget widget-banner">
                <div class="banner banner-image">
                    <a href="#" title="Brown Woman Shoes">
                        <img src="/assets/images/banners/widget-banner.png" alt="Banner name">
                    </a>
                </div>
            </div><!-- End .widget -->

            <div class="widget widget-newsletter">
                <h3 class="widget-title">Newsletter</h3>
                <p>Enter your email address below to subscribe to my newsletter</p>

                <form action="#">
                    <div class="form-group">
                        <img src="/assets/images/icon-newsletter-email.png" alt="Email">
                        <input type="email" class="form-control" placeholder="Email Address" required>
                    </div><!-- End .form-group -->
                    <input type="submit" value="subscribe now" class="btn btn-block">
                </form>
            </div><!-- End .widget -->

            <div class="widget widget-testimonial">
                <div class="owl-data-carousel owl-carousel"
                data-owl-settings='{ "items":1, "margin": 5, "loop": false, "nav": false, "dots":true }'>
                    <div class="testimonial">
                        <img src="/assets/images/testimonials/user1.png" alt="User image">
                        <h5 class="testimonial-owner">John Smith</h5>
                        <div class="testimonial-owner-position">Ceo &amp; Founder Okler</div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div><!-- End .testimonial -->

                    <div class="testimonial">
                        <img src="/assets/images/testimonials/user2.png" alt="User image">
                        <h5 class="testimonial-owner">Susan Smith</h5>
                        <div class="testimonial-owner-position">CPO &amp; Co-Founder</div>
                        <p>Distinctio, corrupti nesciunt aperiam, eaque, reiciendis dummy consequunt.</p>
                    </div><!-- End .testimonial -->

                    <div class="testimonial">
                        <img src="/assets/images/testimonials/user3.png" alt="User image">
                        <h5 class="testimonial-owner">David Lee</h5>
                        <div class="testimonial-owner-position">Senior Developer</div>
                        <p>Adipisci esse nobis alias magnam dolores debitis non odit porro nost.</p>
                    </div><!-- End .testimonial -->
                </div><!-- End .owl-data-carousel -->
            </div><!-- End .widget -->
        </div><!-- End .col-md-3 -->
    </div><!-- End .row -->
</div><!-- End .container -->